#form-section {
  display: flex;
  width: 80%;
  height: auto;
  margin: 80px 10%;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}
#book-print-data > label,
#book-data > label {
  justify-content: right;
  width: 10%;
  font-weight: bold;
}

.book-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#book-format > div {
  display: flex;
  flex-direction: row;
}

#book-format {
  justify-content: space-between;
}

#checkbox-format {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 16px;
  flex-direction: row;
}

#checkbox-title{
  font-weight: bold;
}

#checkbox-format > div {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

label {
  margin: 5px;
  display: flex;
  align-items: center;
}

#leng-data {
  height: 30px;
  width: 50%;
  border-radius: 10px;
}

#book-format div:nth-child(2) {
  margin: 12px;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin: 8px;
}

input[type="submit"] {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#main-title-contact {
  justify-content: center;
}

#message-section {
  width: 100%;
  border-radius: 4px;
  border: none;
}

#book-data > input,
#book-print-data > input {
  width: 40%;
}
#checkboxes > div {
   display: flex; 
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

@media (max-width: 1065px) {
  #book-format {
    flex-direction: column;
  }
}
@media (max-width: 890px) {
  #book-data,
  #book-print-data {
    flex-direction: column;
  }
  #book-print-data > label,
  #book-data > label {
    justify-content: center;
    width: auto;
  }
  #book-print-data > input,
  #book-data > input {
    width: 100%;
  }
}
@media (max-width: 549px) {
  #book-format > div {
    flex-direction: column;
  }
}
