#form-section {
  display: flex;
  width: 80%;
  height: auto;
  margin: 80px 10%;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

.book-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#book-format > div {
  display: flex;
  flex-direction: row;
}

#book-format {
  justify-content: space-between;
}

#checkbox-format {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  font-size: 16px;
}

#checkbox-format > div {
  font-weight: bold;
  margin: 5px;
}

label {
  margin: 5px;
  display: flex;
  align-items: center;
}

#leng-data {
  height: 30px;
  width: 50%;
  border-radius: 10px;
}

#book-format div:nth-child(2) {
  margin: 12px;
}

input[type="text"],
input[type="number"] {
  padding: 12px;
  border-radius: 4px;
  border: none;
  margin: 10px;
}

input[type="submit"] {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#main-title-contact {
  justify-content: center;
}

#message-section {
  width: 100%;
  border-radius: 4px;
  border: none;
}

#book-data > input,
#book-print-data > input {
  width: 40%;
}

#book-data > label,
#book-print-data > label {
  width: 10%;
  font-weight: bold;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
} */

@media (max-width: 1065px) {
  #book-format {
    flex-direction: column;
  }
}
