/* desktop menu */
#nav-menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
#logo-page {
  display: flex;
  align-items: center;
  font-size: 80px;
  margin: 15px;
}
#page-name {
  font-size: 50px;
  margin: 20px;

}
#nav-links {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  font-size: 25px;
  margin: 20px;
}
#nav-links > a {
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#nav-links > a:nth-of-type(1) {
  grid-area: 1 / 1;
}
#nav-links > a:nth-of-type(2) {
  grid-area: 1 / 2;
}
#nav-links > a:nth-of-type(3) {
  grid-area: 1 / 3;
}
#nav-links > a:nth-of-type(4) {
  grid-area: 1 / 4;
}

/* burger menu */
#button-menu {
  border-radius: 15px;
  height: 50px;
  margin: 25px 0;
  display: none;
}
.fa-bars {
  font-size: 50px;
  display: flex;
  justify-content: end;
  margin-right: 20px;
  align-content: center;
}
#toggle-menu {
  display: none;
}
label[for="toggle-menu"] {
  display: block;
  cursor: pointer;
}
#burger-links {
  display: none;
  list-style-type: none;
  flex-direction: row;
  margin-top: 25px;
  padding: 0;
  border-bottom-left-radius: 15px;
  font-size: 25px;
}
#toggle-menu:checked ~ #burger-links {
  display: block;  
}

.burger-links-list {
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
a:hover {
  background-color: rgba(250, 235, 215, 0.203);
}

/* main section */
#main-title {
  font-size: 100px;
  margin: 160px 10% 10%;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 400px;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
}

#main-title > img {
  height: 100%;
  border-radius: 15px;
}

#web-presentation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
}

h1 {
  font-size: 40px;
  margin: 10px;
}
h2 {
  font-size: 25px;
  margin-top: 15%;
  margin-bottom: 15%;
}

#quotation-block {
  font-size: 28px;
  margin: 15px;
  width: 35%;
  height: 100%;
  text-align: right;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
q {
  font-style: italic;
  color: rgba(65, 5, 5)
}
#quotation-block > p {
  font-size: 20px;
  margin-top: 12px;
}

/* resume-section */
#resume-table {
  display: flex;
  width: 80%;
  height: auto;
  margin: 10%;
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
  flex-direction: column;
  align-items: center;
}

#inside-table {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#card-1 {
  grid-template-columns: 1/1;
}
#card-2 {
  grid-template-columns: 1/2;
}
#card-3 {
  grid-template-columns: 1/3;
}
#card-4 {
  grid-template-columns: 2/1;
}
#card-5 {
  grid-template-columns: 2/2;
}
#card-6 {
  grid-template-columns: 2/3;
}

.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: static;
  font-size: 16px;
  border-radius: 10px;
  object-fit: contain;
}

.list-group-item {
  position: static;
}

.image-container {
  display: flex;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1231px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
    margin-top: 10%;
  }
  #quotation-block {
    font-size: 22px;
  }
  #quotation-block > p {
    font-size: 15px;
  }
}

@media  (max-width: 1065px) {
  #nav-links {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-template-rows: repeat(2, 40px);
    font-size: 20px;
    gap: 15px;
    margin-top: 0;
    justify-content: end;
    align-items: center;
  }
  #nav-links > a:nth-of-type(1) {
    grid-area: 1 / 1;
  }
  #nav-links > a:nth-of-type(2) {
    grid-area: 1 / 2;
  }
  #nav-links > a:nth-of-type(3) {
    grid-area: 2 / 1;
  }
  #nav-links > a:nth-of-type(4) {
    grid-area: 2 / 2;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    margin-top: 10%;
  }
  #quotation-block {
    font-size: 18px;
  }

}

@media (max-width: 740px) {
  #logo-page {
    font-size: 60px;
  }
  #page-name {
    font-size: 40px;
  }
  #nav-links {
    display: none;
  }
  #button-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
#burger-links {
  color: red;
}
  .burger-links-list {
    font-size: 18px;
  }
  #main-title {
    width: 80%;
    height: 120px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #main-title > img {
    display: none;
  }
  #quotation-block {
    display: none;
  }
  h1 {
  font-size: 20px;
  }
  h2 {
    margin: 0 10px;
    font-size: 12px;
  }
  #inside-table {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }
  #web-presentation {
    height: fit-content;
  }
}


@media (max-width: 300px) {
  #logo-page {
    font-size: 30px;
  }
  #page-name {
    font-size: 25px;
  }
  .fa-bars {
    font-size: 30px;
  }
  #button-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
261
